<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml">
      </toc>
      <toc
            file="testToc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="tr.org.liderahenk.liderconsole.commands.category"
            name="%category.name">
      </category>         
      <command
            categoryId="tr.org.liderahenk.liderconsole.commands.category"
            id="tr.org.liderahenk.liderconsole.commands.Task"            
            name="%command.name">
      </command>
      <command
            categoryId="tr.org.liderahenk.liderconsole.commands.category"
            id="tr.org.liderahenk.liderconsole.commands.TaskContext"            
            name="%command.name.0">
      </command>      
      <command
            categoryId="tr.org.liderahenk.liderconsole.commands.category"
            id="tr.org.liderahenk.liderconsole.commands.ScheduledTask"            
            name="%command.name.1">
      </command>      
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="tr.org.liderahenk.liderconsole.task.handlers.TaskHandler"
            commandId="tr.org.liderahenk.liderconsole.commands.Task">
			<enabledWhen>
			<and>
               <with
                     variable="tr.org.liderahenk.liderconsole.core.sourceproviders.main.available">
                  <equals
                        value="true">
                  </equals>
               </with>
				          <with
				                variable="tr.org.liderahenk.liderconsole.core.sourceproviders.main.privilegesForSelectedItem">
				             <iterate operator="or">
				                <or>
				                   <equals
				                         value="ALL">
				                   </equals>
				                   <equals
				                         value="GET/TASKS/DB">
				                   </equals>
				                </or>
				             </iterate>
				          </with>               
               </and>
			</enabledWhen>             
      </handler>
      <handler
            class="tr.org.liderahenk.liderconsole.task.handlers.TaskContextHandler"
            commandId="tr.org.liderahenk.liderconsole.commands.TaskContext">
			<enabledWhen>
			<and>
               <with
                     variable="tr.org.liderahenk.liderconsole.core.sourceproviders.main.available">
                  <equals
                        value="true">
                  </equals>
               </with>
				          <with
				                variable="tr.org.liderahenk.liderconsole.core.sourceproviders.main.privilegesForSelectedItem">
				             <iterate operator="or">
				                <or>
				                   <equals
				                         value="ALL">
				                   </equals>
				                   <equals
				                         value="GET/TASKS/DB">
				                   </equals>
				                </or>
				             </iterate>
				          </with>               
               </and>
			</enabledWhen>           
      </handler>  
      <handler
            class="tr.org.liderahenk.liderconsole.task.handlers.ScheduledTaskHandler"
            commandId="tr.org.liderahenk.liderconsole.commands.ScheduledTask">  
			<enabledWhen>
					<and>
		               <with
		                     variable="tr.org.liderahenk.liderconsole.core.sourceproviders.main.available">
		                  <equals
		                        value="true">
		                  </equals>
		               </with>
				          <with
				                variable="tr.org.liderahenk.liderconsole.core.sourceproviders.main.privilegesForSelectedItem">
				             <iterate operator="or">
				                <or>
				                   <equals
				                         value="ALL">
				                   </equals>
				                   <equals
				                         value="GET/SCHEDULEDTASKS/DB">
				                   </equals>
				                </or>
				             </iterate>
				          </with>		               
		               </and>
			</enabledWhen>                       
      </handler>          
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="tr.org.liderahenk.liderconsole.commands.Task"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+T">
      </key>
      <key
            commandId="tr.org.liderahenk.liderconsole.commands.ScheduledTask"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+Y">
      </key>      
   </extension>   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:tr.org.liderahenk.liderconsole.menus.Lider?after=additions">
            <command
                  commandId="tr.org.liderahenk.liderconsole.commands.Task"
                  id="tr.org.liderahenk.liderconsole.command.Task"
                  icon="icons/task-play.png"
                  tooltip="%command.tooltip">
		 			<visibleWhen>
		 			<and>
		               <with
		                     variable="tr.org.liderahenk.liderconsole.core.sourceproviders.main.available">
		                  <equals
		                        value="true">
		                  </equals>
		               </with>
				          <with
				                variable="tr.org.liderahenk.liderconsole.core.sourceproviders.main.privilegesForSelectedItem">
				             <iterate operator="or">
				                <or>
				                   <equals
				                         value="ALL">
				                   </equals>
				                   <equals
				                         value="GET/TASKS/DB">
				                   </equals>
				                </or>
				             </iterate>
				          </with>			               
		               </and>
					</visibleWhen>                  
            </command>
            <command
                  commandId="tr.org.liderahenk.liderconsole.commands.ScheduledTask"
                  id="tr.org.liderahenk.liderconsole.command.ScheduledTask"
                  icon="icons/task-wait.png"
                  tooltip="%command.tooltip.0">
					<visibleWhen>
					<and>
		               <with
		                     variable="tr.org.liderahenk.liderconsole.core.sourceproviders.main.available">
		                  <equals
		                        value="true">
		                  </equals>
		               </with>
				          <with
				                variable="tr.org.liderahenk.liderconsole.core.sourceproviders.main.privilegesForSelectedItem">
				             <iterate operator="or">
				                <or>
				                   <equals
				                         value="ALL">
				                   </equals>
				                   <equals
				                         value="GET/SCHEDULEDTASKS/DB">
				                   </equals>
				                </or>
				             </iterate>
				          </with>		               
		               </and>
					</visibleWhen>                   
            </command>            
      </menuContribution>         
      <menuContribution
            locationURI="toolbar:tr.org.liderahenk.liderconsole.toolbars.Lider?after=additions">
            <command
                  commandId="tr.org.liderahenk.liderconsole.commands.Task"
                  id="tr.org.liderahenk.liderconsole.menus.Task"
				  icon="icons/task-play.png"
                  tooltip="%command.tooltip.1">
		 			<visibleWhen>
		 			<and>
		               <with
		                     variable="tr.org.liderahenk.liderconsole.core.sourceproviders.main.available">
		                  <equals
		                        value="true">
		                  </equals>
		               </with>
				          <with
				                variable="tr.org.liderahenk.liderconsole.core.sourceproviders.main.privilegesForSelectedItem">
				             <iterate operator="or">
				                <or>
				                   <equals
				                         value="ALL">
				                   </equals>
				                   <equals
				                         value="GET/TASKS/DB">
				                   </equals>
				                </or>
				             </iterate>
				          </with>			               
		               </and>
					</visibleWhen>                                
            </command>
            <command
                  commandId="tr.org.liderahenk.liderconsole.commands.ScheduledTask"
                  id="tr.org.liderahenk.liderconsole.command.ScheduledTask"
                  icon="icons/task-wait.png"
                  tooltip="%command.tooltip.2"> 
					<visibleWhen>
					<and>
		               <with
		                     variable="tr.org.liderahenk.liderconsole.core.sourceproviders.main.available">
		                  <equals
		                        value="true">
		                  </equals>
		               </with>
				          <with
				                variable="tr.org.liderahenk.liderconsole.core.sourceproviders.main.privilegesForSelectedItem">
				             <iterate operator="or">
				                <or>
				                   <equals
				                         value="ALL">
				                   </equals>
				                   <equals
				                         value="GET/SCHEDULEDTASKS/DB">
				                   </equals>
				                </or>
				             </iterate>
				          </with>		               
		               </and>
					</visibleWhen>                                   
            </command>             
      </menuContribution>      
      <menuContribution
            locationURI="popup:tr.org.liderahenk.liderconsole.menus.LiderPopup?after=additions">
            <command
                  commandId="tr.org.liderahenk.liderconsole.commands.TaskContext"
                  id="tr.org.liderahenk.liderconsole.menus.Task"
                  icon="icons/task-play.png"
                  tooltip="%command.tooltip.3">
		 			<visibleWhen>
		 			<and>
		               <with
		                     variable="tr.org.liderahenk.liderconsole.core.sourceproviders.main.isAhenkSelected">
		                  <equals
		                        value="true">
		                  </equals>
		               </with>
				          <with
				                variable="tr.org.liderahenk.liderconsole.core.sourceproviders.main.privilegesForSelectedItem">
				             <iterate operator="or">
				                <or>
				                   <equals
				                         value="ALL">
				                   </equals>
				                   <equals
				                         value="GET/TASKS/DB">
				                   </equals>
				                </or>
				             </iterate>
				          </with>			               
		               </and>
					</visibleWhen>                   
            </command>
      </menuContribution>
  </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="tr.org.liderahenk.liderconsole.task.editors.TaskEditor"
            icon="icons/task-play.png"
            id="tr.org.liderahenk.liderconsole.task.editors.TaskEditor"
            name="%editor.name">
      </editor> 
      <editor
            class="tr.org.liderahenk.liderconsole.task.editors.ScheduledTaskEditor"
            icon="icons/task-wait.png"
            id="tr.org.liderahenk.liderconsole.task.editors.ScheduledTaskEditor"
            name="%editor.name.0">
      </editor>            
   </extension> 

</plugin>
